.Rectangle {
    width: 25vw;
    height: 60vh;
    padding: 2.5rem 2.563rem 2.5rem 2.438rem;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 0 52px 54px 0 rgba(65, 62, 101, 0.25);
    background-color: rgba(0, 0, 0, 0.44);

}

.main {
    text-align: center;
}


.SignUp {
    display: inline-block;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: -1.03px;
    text-align: center;
    color: #fff;
}

.No-credit-card-requi {
    width: 12.875rem;
    height: 2.438rem;
    display: inline-block;
    margin-bottom: 20px;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: -0.66px;
    text-align: center;
    color: grey;
}

.Path {
    height: 12px;
    border: solid 2px #fff;
    margin-left: 30px;
}

.I-agree-to-the-Terms {
    width: 15rem;
    height: 1.75rem;
    margin: 0 0 0 0.75rem;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #fedc5a;
}

.I-agree-to-the-Terms .text-style-1 {
    color: white;
}

.btn-get {
    width: 80%;
    height: 40px;
    margin: 20px 0;
    font-family: Helvetica;
    border-radius: 10px;
    color: #fff;
    border: solid 1px #c31a12;
    background-color: #f04037;
}

.Already-have-an-acco {
    width: 14.875rem;
    height: 1.75rem;
    
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color:#fff;
}

.Already-have-an-acco .text-style-1 {
    color: #fedc5a;
}