.app {
  background: url('../assets/form-Bg-img.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-size: cover; */
  background-size: cover;
}